@page "/register"
<PageTitle>Register</PageTitle>

<section class="login">
    <div class="container">
        <div class="login-form">
                <form class="form">
                <!-- Email input -->
                <div class="card" style="width: 27rem; text-align:center;">
                    <h5>Register</h5>
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="text" id="form1Example1" class="form-control" placeholder="Enter your Name" />
                           
                        </div>
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="email" id="form1Example1" class="form-control" placeholder="Email your Email" />
                           
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="form2Example2" class="form-control" placeholder="Enter Password" />
                           
                        </div>
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" id="form2Example2" class="form-control" placeholder="Re-enter Password" />
                           
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                            </div>

                            <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Register</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Not a member? <a href="#!">Register</a></p>
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f">Facebook</i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google">Google</i>
                            </button>
                        </div>
                    </div>
                
                </form>
        </div>


    </div>

</section>


