@page "/search"

<PageTitle>Home</PageTitle>

<section>
    <div class="container">
        <div class="search-bar">
            <h4>Search the library with QuickSearch</h4>
            <p>Find the books, artifacts</p>
            <form class="input-search" action="/search">
                <input type="text" placeholder="Enter keywords, author, title, identifiers" name="search">
                <button type="submit" class="button-subscribe"><i></i>SEARCH</button>
            </form>
        </div>
    </div>
</section>

